#banner {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    background-color:oldlace;
}

.map {
    position: absolute;
}

#haven {
    width: 400px;
    height: 400px;
    top: 700px;
    left: 12.5%;
}

#ascent {
    width: 400px;
    height: 400px;
    top: 700px;
    left: 40%;
}

#icebox {
    width: 400px;
    height: 400px;
    top: 700px;
    left: 65%;
}

#split {
    width: 400px;
    height: 400px;
    top: 1300px;
    left: 27%;
}

#bind {
    width: 400px;
    height: 400px;
    top: 1300px;
    left: 55%;
}

#cypher {
    position: absolute;
    top: 2200px;
    left: 100px;
    height: 600px;
    width: 350px;
}

#desc {
    font-size: 28px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    color: midnightblue;
    top: 2250px;
    left: 900px;
    text-indent: 75px;
    width: 950px;
}

#cam {
    position: absolute;
    top: 2200px;
    left: 600px;
    width: 150px;
    height: 150px;
}

#wire {
    position: absolute;
    top: 2400px;
    left: 600px;
    width: 150px;
    height: 150px;
}

#cage {
    position: absolute;
    top: 2600px;
    left: 600px;
    width: 150px;
    height: 150px;
}
